ytd-rich-item-renderer, ytd-compact-video-renderer, ytd-video-renderer{
    position: relative;
}
.thumb_for_status{
    position: absolute;
    top: 0px;
    left: 0px;
}
body.block-subcribe ytd-subscribe-button-renderer{
    display: none!important;
}